---
title: CryingBaby
hero: Personalized Wishing-Website for your Loved Ones
subtitle: A Personal Wishing-WebSite dedicated to your buddy, friend, love or family.
---

<div class="content" id="products">
	<section>
		<div class="container">
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_products" class="btn"><strong>&#9998;</strong> Manage products</a></p>
			<ul class="product-list">
				{% for product in site.products %}
					<li>
						{% include product-styles.html product=product %}
						<div class="product-details"> 
							<h4><a href="{{ product.url }}">{{ product.name }}</a></h4>
							<div class="product-description">
								{{ product.description_markdown | truncate: 45 | markdownify }}
							</div>
							<p>${{ product.price }}</p>
							<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=cryingbaby-21&marketplace=amazon&amp;region=IN&placement=B07SF2TBP6&asins=B07SF2TBP6&linkId=298668af041e6d9d951e42c240584098&show_border=true&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</section>
</div>
